<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyq.mmp.mapper.AuthUserMapper">
  <resultMap id="BaseResultMap" type="com.lyq.mmp.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="CHAR" property="username" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>


  <select id="findOne" resultType="com.lyq.mmp.model.User">
        SELECT id,username,password FROM user where id=1
    </select>

</mapper>